doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 It's an Enquiry email from ty-fountain website.
      p Name: #{name}
      p Email: #{email}
      p Mobile: #{mobile}
      p Content: #{content}
      